.box {
    &.highlight {
        text-align: center;
    }

    &.post {
        position: relative;
        margin: 0 0 2em 0;

        &:after {
            content: '';
            display: block;
            clear: both;
        }

        .inner {
            margin-left: calc(30% + 2em);

            > :last-child {
                margin-bottom: 0;
            }
        }

        .image {
            width: 30%;
            height: 100%;
            margin: 0;
        }
    }
}